$def with (content)
<html>
    <head>
        <title>固件自动升级检测平台 - 异常</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <pre style="color: red;">
           _________         _________
          /         \       /         \/  /~~~~~\  \     /  /~~~~~\  \
         |  |     |  |     |  |     |  |
         |  |     |  |     |  |     |  |
         |  |     |  |     |  |     |  |         /
         |  |     |  |     |  |     |  |       //
        (o  o)    \  \_____/  /     \  \_____/ /
         \__/      \         /       \        /
          |         ~~~~~~~~~         ~~~~~~~~
          ^
        </pre>
        <p style="border-left: solid 2px red;padding-left: 1em;">
            异常信息:
        </p>
        <p style="border: dotted 1px #adadad;padding: 1em;">
            $:content
        </p>
    </body>
</html>