$def with (content)
<html>
    <head>
        <title>
            $if content.title:
                $content.title
            $else:
                固件自动升级检测平台 - 首页
        </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 自定义加载icon -->
        $if content.icofiles:
            $for ico in content.icofiles.split():
                <link rel="icon" type="image/x-icon" href="$ico">
                <link rel="shortcut icon" type="image/x-icon" href="$ico">
        $else:
            <link rel="icon" type="image/x-icon" href="/statics/img/favicon.ico">
            <link rel="shortcut icon" type="image/x-icon" href="/statics/img/favicon.ico">

         <!-- 全局预加载CSS -->
        <link rel="stylesheet" href="/statics/js/insdep/reset.min.css" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="/statics/js/insdep/normalize.min.css" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="/statics/css/font-awesome/css/font-awesome.min.css" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="/statics/js/insdep/easyui_full.css" type="text/css" media="screen" charset="utf-8"/>
        <!-- 自定义加载CSS -->
        $if content.pre_cssfiles:
            $for pre_css in content.pre_cssfiles.split():
                <link rel="stylesheet" href="$pre_css" type="text/css" media="screen" charset="utf-8"/>

        <!-- 全局预加载JS -->
        <script type="text/javascript" src="/statics/js/html5shiv.min.js"></script>
        <script type="text/javascript" src="/statics/js/respond.min.js"></script>
        <script type="text/javascript" src="/statics/js/insdep/easyui/jquery.min.js"></script>
        <script type="text/javascript" src="/statics/js/insdep/easyui/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="/statics/js/insdep/insdep-extend.min.js"></script>
        <script type="text/javascript" src="/statics/js/insdep/expand/jquery-easyui-datagridview/datagrid-detailview.js"></script>
        <script type="text/javascript" src="/statics/js/highchart/highcharts.js"></script>
        <script type="text/javascript" src="/statics/js/highchart/highcharts-3d.js"></script>
        <script type="text/javascript" src="/statics/js/highchart/highcharts-more.js"></script>
        <script type="text/javascript" src="/statics/js/highchart/modules/exporting.js"></script>
        <script type="text/javascript" src="/statics/js/highchart/modules/funnel.js"></script>
        <script type="text/javascript" src="/statics/js/highchart/modules/drilldown.js"></script>
        <script type="text/javascript" src="/statics/js/highchart/modules/data.js"></script>

        <!-- 自定义加载JS -->
        $if content.pre_scriptfiles:
            $for pre_script in content.pre_scriptfiles.split():
                <script type="text/javascript" src="$pre_script"></script>
    </head>
    <body class="easyui-layout">
    $:content
    </body>
</html>