$var title: 固件自动升级检测平台 - 首页
$var icofiles: /statics/img/favicon.ico
$var pre_cssfiles: /statics/css/main.css
$var pre_scriptfiles: /statics/js/main.js

<div class="list-layout-body" data-options="region:'center',border:false">
    <div class="easyui-layout" data-options="fite:true,border:false">
        <div id="layout-body-top" data-options="region:'north',border:false">
            上面搜索区
        </div>
        <div class="easyui-layout" data-options="fite:true,border:false">
            <div id="layout-body-bottom" data-options="region:'north',border:false">
                <table id="layout-body-bottom-tables" class="easyui-datagrid"></table>
            </div>
        </div>
    </div>
</div>