/* 公共CSS区 */
@font-face {font-family: 'webfont';
  src: url('../fonts/webfont.eot'); /* IE9*/
  src: url('../fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/webfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/webfont.svg#思源黑体-细') format('svg'); /* iOS 4.1- */
}
* {
	font-family: webfont;
}
.lf {
	float: left;
}
.rt {
	float: right;
}
.rt i:hover {
	cursor: pointer;
	background-color: #eeeeee;
}
.clear {
	clear: both;
}
.active {
	background-color: #EBEDF4;
}
.rtrim {
	width: 90%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.placeholder {
	border: solid 1px transparent;
}
.easyui-menu.menu-top.menu {
	width: 200px !important;
	border-radius: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: solid 1px #EBEDF4;
	border-top: none;
	border-right: none;
}
.easyui-menu.menu-top.menu .menu-line {
	display: none;
}
.easyui-menu.menu-top.menu .menu-item {
	height: 50px !important;
	line-height: 50px !important;
}
.easyui-menu.menu-top.menu .menu-item .menu-text {
	padding-left: 25px !important;
	line-height: 50px !important;
}
/* 右侧时间轴CSS区 */
article,section,time,aside{display:block;}
.point-time {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 2px;
  left: 20%;
  margin-left: -4px;
}
.text-info {
  color: #1c87bf;
}
.text-error {
  color: #f6393f;
}
.text-warning {
  color: #ffb902;
}
.timeline {
  width:  100%;
}
.timeline article {
  position: relative;
}
.timeline article section {
  height: 40px;
  position: relative;
}
.timeline article section:before {
  content: "";
  width: 2px;
  top: 11px;
  bottom: -5px;
  left: 20%;
  background: #e5e5e5;
  position: absolute;
}
.timeline article section:last-child:before {
  display: none;
}
.timeline article section time {
  width: 15%;
  display: block;
  position: absolute;
}
.timeline article section time > span {
  color: #aaaaaa;
  display: block;
  text-align: right;
}
.timeline article section aside {
  color: #3a3a38;
  margin-left: 25%;
  padding-bottom: 15px;
}
.timeline article section .brief {
  color: #9f9f9f;
}

/* # index.html */
/* 顶部CSS区域 */
.upg-layout-header {
	position: relative;
	padding: 0 15px 0 15px;
	height: 50px;
	line-height: 50px;
	border-bottom: solid 1px #EBEDF4;
}
.upg-layout-header .lf span{
	font-size: 16px;
}
.upg-layout-header span.icon {
	line-height: 50px;
	display: inline-block;
}
.upg-layout-header ul li {
	float: left;
	width: 100px;
	text-align: center;
}
.upg-layout-header ul li:hover {
	background-color: #EBEDF4;
}
/* 身体CSS区域 */
.upg-layout-body {
	height: 800px;
	margin: 0 auto;
	padding: 10px 15px 10px 15px;
	background-color: #EBEDF4;
}
/* 身体右上CSS区域 */
.upg-layout-header .rt i.fa.fa-refresh{
	padding: 5px;
	border: solid 1px #B0B0B0;
}
#layout-body-right-bottom{
	overflow-x:hidden;
	overflow-y: scroll;
	padding: 15px 0 50px 0;
}
#layout-body-left-bottom-bottom,#layout-body-top-left-bottom,#layout-body-top-right-bottom {
	overflow: hidden;
}
/* 底部CSS区域 */
.upg-layout-footer {
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	text-align: center;
	padding: 0 15px 0 15px;
}

/* # list.html */
.list-layout-body {
	border:solid 10px red;
	color: red;
}